img {
  width:300px;
  height:auto;
}
.columns {
  column-count: 3;
  column-gap: 25px;
  column-rule: 2px solid pink;
}
.box {
  margin: 12px;
  padding: 4px;
  box-sizing:border-box;
  border-radius: 15px; 
  border: 3px solid #55C8C1;
}