img {
  width:300px;
  height:auto;
}
.columns {
  column-count: 3;
  column-gap: 25px;
  column-rule: 2px solid pink;
}
.box {
  border-radius: 15px;
  margin: 12px;
  border: 0px;
  padding: 4px;
  box-sizing: border-box;
}